
    <div class="w">
        <div class="header">
            <div class="team-name">The Weird Ones</div>
            <div class="title">Dashboard</div>
        </div>
        <div class="main">
            <div class="menu">
                <ul>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Metrics</a>
                        <ul><li><a href="#">Posts</a></li>
                            <li><a href="#">Likes</a></li>
                            <li><a href="#">Comments</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Leaderboards</a>
                        <ul>
                            <li><a href="#">National</a></li>
                            <li><a href="#">In-Team</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Trophies</a>
                        <ul><li><a href="#">Awards</a></li>
                            <li><a href="#">Badges</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Settings</a></li>
                </ul>

            </div>
            <div class="content">
                <div class="team-name">
                    <%=  image_tag("team-logo.png", width:"45", height:"41") %>The Weird Ones
                </div>
                <div class="row">
                    <div class="container col1 top-posters">
                        <div class="title">Top Posters</div>
                        <ul class="posterlist">
                            <% @leaders.each do |leader| %>
                            <li><%="#{leader["first_name"]} #{leader["last_name"]}: #{leader["count_user_id"]} posts" %>

                            </li>
                            <% end %>
                        </ul>
                    </div>
                    <div class="container col1 top-post">
                        <div class="title">Top Post</div>
                    </div>
                    <div class="container col1 overview">
                        <div class="title">Overview</div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="chart container col3">
                        <div class="title">Engagement Over Time</div>

                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="container leaderboard col2">
                        <div class="title">Leaderboard</div>
                        <ul class="posterlist">
                            <li>Rainbow Warriors</li>
                            <li>SuperSocial Justice League</li>
                            <li>ManicSquared</li>
                        </ul>
                    </div>
                    <div class="container badges col1">
                        <div class="title">Badges</div>
                        <%= image_tag("badge2.png", width:"125") %>
                        <%= image_tag("badge3.png", width:"125") %>
                        <%= image_tag("badge4.png", width:"125") %>
                    </div>
                </div>
            </div>
        </div>

    </div>
