<!DOCTYPE html>
<html>
<head>
  <title>SocialMediaLeague</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="topnav">
    <span id="img">Social Media League IMG goes here</span>
    <div id="userbox">
      <% if current_user %>
        <span>Welcome <%= current_user.name %>&nbsp;|&nbsp;<%= link_to "Dashboard", current_user %>&nbsp;|&nbsp;</span>
        <% else %>
        <span><%= link_to "Login With FaceBook", login_path %></span>
      <% end %>
    </div>
  </div>

<%= yield %>

</body>
</html>
